.mat-mdc-form-field {
  width: 100%;
  margin-top: 10px;
}

.mat-mdc-dialog-actions button {
  padding: 12px 32px;
  border-radius: 8px;
  margin-right: 12px;
  margin-top: 8px;
  transition: all 0.2s ease;

  &:last-child {
    background-color: #dc2626;
    color: white;

    &:disabled {
      background-color: #fca5a5;
      color: #fee2e2;
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      background-color: #b91c1c;
    }

    &:first-child {
      background: #edf2f7;
      color: #4a5568;

      &:hover {
        background: #e2e8f0;
      }
    }
  }
}
